cgal>=5.5
libigl
pyacvd
trimesh[easy]
SimpleITK
opencv-contrib-python==4.5.*
point-cloud-utils
optimesh
scikit-image
scikit-learn
scipy
numpy
matplotlib
mkl==2023.*
pypardiso==0.4.*
tqdm
transforms3d
robust-laplacian
pygeodesic
potpourri3d
