cgal>=5.5
libigl
pyacvd==0.2.9
trimesh[easy]
SimpleITK
opencv-contrib-python==4.5.*
point-cloud-utils
optimesh
scikit-image
scikit-learn
scipy
numpy<2.0
matplotlib
intel_openmp==2023.1.0
mkl==2023.1.0
pypardiso==0.4.*
tqdm
transforms3d
robust-laplacian
pygeodesic
potpourri3d
scikit-fmm
POT
hausdorff
numba
dipy
